* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    display: block;
    background-color: #170218;
}

.inner_header {
    width: 1500px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: #F1F0F0;
}

.navigation a:last-child {
    padding-right: 5; /*makes all elements inside of header touch the edge*/
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
}

